<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533988083151-8idf9fro4b23oidmq95t8r7fm2ancqcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533988083151-8idf9fro4b23oidmq95t8r7fm2ancqcr</string>
	<key>API_KEY</key>
	<string>AIzaSyDFmfZ5U_PUtUJCGMPDKix7wHJZuylM3zg</string>
	<key>GCM_SENDER_ID</key>
	<string>533988083151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptcc</string>
	<key>PROJECT_ID</key>
	<string>app-auth-58399</string>
	<key>STORAGE_BUCKET</key>
	<string>app-auth-58399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533988083151:ios:8046c04fd71e944de87eba</string>
</dict>
</plist>